@font-face {
    font-family: UniNeue;
    font-weight: 400;
    src: url("../fonts/UniNeueRegular.otf");
}
@font-face {
    font-family: UniNeue;
    font-weight: 700;
    src: url("../fonts/UniNeueBold.otf");
}

* {
    box-sizing: border-box;
}

#root {
    background: #F5F5F5;
}

html {
    font-size: 16px;
}

.command-list-container {
    padding: 40px;
    max-width: 100%;
    width: 1920px;
}
.command-list-header {
    background: #fff;
    display: flex;
    font-family: "UniNeue", sans-serif;
    justify-content: space-between;
    padding: 10px 20px;
}

/*SEARCH*/
.search-wrap {
    align-items: center;
    display: flex;
    width: 48%;
}

.search-wrap h2 {
    margin-right: 40px;
}

.search-wrap input {
    border: 2px solid #E7EDEF;
    color: #B3B3B3;
    font-family: "UniNeue", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    outline-color: #B3B3B3;
    padding: 0.5rem 1rem;
    width: 100%;
}

.search-wrap input::placeholder {
    color: #B3B3B3;
}

/*MODULES*/
.modules-wrap {
    align-items: center;
    display: flex;
    width: 48%;
}

.modules-wrap h2 {
    align-self: center;
    color: #484848;
    font-weight: 700;
    margin: -10px 40px 0 0;
    width: 25%;
}

.modules {
    display: inline-block;
}

.module-name {
    border: 2px solid #E7EDEF;
    color: #B3B3B3;
    cursor: pointer;
    font-family: "UniNeue", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    margin: 0 16px 10px 0;
    padding: 7.5px 9.5px;
}

.module-name.selected, .module-name:hover {
    background: #EBF0F1;
    color: #4D5D64;
}

/*COMMANDS*/
.commands {
    background: #fff;
}

.commands-header, .command {
    display: grid;
    font-family: "UniNeue", sans-serif;
    grid-template-columns: 12% 15% 35% 23% 15%;
}

.commands-header {
    background: #EBF0F1;
    color: #4D5D64;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    text-align: center;
}

.command {
    font-size: 1rem;
}

.command div {
    border-right: 4px solid #E6E6E6;
    color: #4D5D64;
    padding: 0.8rem 2rem;
    text-align: center;
}

.command div:last-child {
    border-right: 0;
}

.command strong {
    display: block;
}

.command span {
    display: block;
}

.command:nth-child(odd) {
    background: #F5F5F5;
}

.command-name {
    color: #7ED1F4 !important;
}

.description {
    text-align: justify !important;
}